.box {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 30px;

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }

  &__spinner {
    display: flex;
    justify-content: center;
  }

  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__chips {
      --mdc-chip-label-text-color: #fff;
  }

  &__no-question {
    display: flex;
    justify-content: center;
  }
}

.mat-expansion-panel-header-description {
  display: flex;
  justify-content: flex-end;
  flex-grow: 0 !important;
}
