.test {
  padding-top: 30px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.dialog-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.spinner {
  display: flex;
  justify-content: center;
}
