<div class="box">
  <h2>Wygenerowane pytanie</h2>
  <div *ngIf="!showSpinner; else spinner">
    <ng-container *ngIf="data | async as questions">
      <mat-accordion *ngIf="questions.length; else noQuestions">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ singleRandQuestion!.title }}
            </mat-panel-title>
            <mat-panel-description>
              <mat-chip-listbox class="p-0.5">
                <mat-chip
                  [ngStyle]="{
                    'background-color': singleRandQuestion?.tags | tagColor
                  }"
                  class="box__chips"
                  >{{ singleRandQuestion?.tags }}</mat-chip
                >
              </mat-chip-listbox>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-dialog-content>
            <p class="pt-3 pr-3 pl-3">{{ singleRandQuestion!.answer }}</p>
            <div
              [ngStyle]="
                singleRandQuestion!.image ? { 'padding-bottom': '9px' } : null
              "
            >
              <ul *ngFor="let subPoint of singleRandQuestion!.subpoints">
                <li *ngIf="subPoint">{{ subPoint }}</li>
              </ul>
            </div>

            <img
              *ngIf="singleRandQuestion!.image"
              class="box__image p-5"
              src="{{ singleRandQuestion!.image }}"
            />
          </mat-dialog-content>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </div>

  <ng-template #noQuestions>
    <p class="box__no-question">
      Wybierz zakres pytań do generowania losowego pytania.
    </p>
  </ng-template>

  <ng-template #spinner>
    <div class="box__spinner">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </ng-template>

  <div class="box__buttons">
    <button mat-raised-button (click)="handleCancel()">Zamknij</button>
    <button
      mat-flat-button
      color="primary"
      (click)="getRandomQuestion()"
      [disabled]="singleRandQuestion === null"
    >
      Losuj kolejne pytanie
    </button>
  </div>
</div>
