<!-- <div class="box">
  <div class="flex-box"></div>
  <div class="flex-box">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Wyszukaj pytanie</mat-label>
        <input
          matInput
          [formControl]="searchQuestionTitle"
          placeholder="Nazwa pytania"
        />
      </mat-form-field>

      <mat-form-field class="example-chip-list" appearance="outline">
        <mat-label>Favorite Fruits</mat-label>
        <mat-chip-grid #chipGrid aria-label="Fruit selection">
          <mat-chip-row *ngFor="let fruit of fruits" (removed)="remove(fruit)">
            {{fruit}}
            <button matChipRemove [attr.aria-label]="'remove ' + fruit">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl"
          [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"/>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
            {{fruit}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="box__buttons">
      <button mat-flat-button color="success">Dodaj pytanie</button>
      <button mat-flat-button color="primary" (click)="openDialog()">
        Losuj pytanie
      </button>
    </div>
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8 ml-auto mr-auto container"
    >
      <ng-container
        matColumnDef="{{ column.value }}"
        *ngFor="let column of columnsToDisplay"
      >
        <th mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="column.label !== 'Tagi'; else tag">
            {{ element[column.value] }}
          </ng-container>
          <ng-template #tag>
            <div class="box__tag">
              <mat-chip-list *ngFor="let tag of element.tags">
                <mat-chip
                  [ngStyle]="{
                    'background-color': tag | tagColor,
                    color: 'white'
                  }"
                  >{{ tag }}</mat-chip
                >
              </mat-chip-list>
            </div>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="columnsValues.length"
        >
          <div
            class="overflow-hidden"
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
          >
            <div class="p-3">{{ element.answer }}</div>
            <ul *ngFor="let subPoint of element.subpoints">
              <li>{{ subPoint }}</li>
            </ul>
            <img
              *ngIf="element.image"
              class="box__image p-5"
              src="{{ element.image }}"
            />
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsValues"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsValues"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
  </div>
  <div class="flex-box"></div>
</div> -->
