tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.example-element-row td {
  border-bottom-width: 0;
}

.mat-table{
  border-radius: 6px;
  overflow: hidden !important;
}

.box {
  display: flex;
  padding-top: 100px;

  &__buttons{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8px;
  }

}

.flex-box:nth-child(1) {
  width: 25%;
}

.flex-box:nth-child(2) {
  width: 50%;
}

.flex-box:nth-child(3) {
  width: 25%;
}
