tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.example-element-row td {
  border-bottom-width: 0;
}

.mat-mdc-table{
  border-radius: 6px;
  overflow: hidden !important;
}

.box {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;

  &__buttons{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
  }

  &__normal-btns {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 22px;
    gap: 8px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  &__tag {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  &__chip {
    --mdc-chip-label-text-color: #fff;
  }

  &__dot {
    height: 8px;
    width: 8px;
    background-color: #fa5c74;
    border-radius: 50%;
    display: inline-block;
  }

  &__filters {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }

  &__empty-list {
    display: flex;
    justify-content: center;
    color: #b5b5b5;
  }
}

.flex-box:nth-child(1) {
  width: 25%;
}

.flex-box:nth-child(2) {
  width: 50%;
}

.flex-box:nth-child(3) {
  width: 25%;
}

.mat-column-tags {
  width: 10%;
}

.mat-column-actions {
  width: 5%;
}
