<div class="box">
  <div class="flex-box"></div>
  <div class="flex-box">
    <div class="box__header">
      <div class="box__filters">
        <h3>Filtruj pytania</h3>
        <mat-form-field appearance="outline">
          <mat-label>Szukaj pytania po nazwie</mat-label>
          <input
            matInput
            placeholder="Nazwa pytania"
            [formControl]="filterQuestionTitle"
            [readonly]="selectedTags.length ? true : false"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Szukaj pytań po tagach</mat-label>
          <mat-chip-grid #chipGrid>
            <mat-chip-row
              class="box__chip"
              *ngFor="let tag of selectedTags"
              (removed)="remove(tag)"
              [ngStyle]="{
                'background-color': tag | tagColor
              }"
            >
              {{ tag }}
              <button matChipRemove [attr.aria-label]="'remove ' + tag">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input
            placeholder="Wybierz tag"
            [formControl]="filterQuestionTags"
            [matChipInputFor]="chipGrid"
            [matAutocomplete]="auto"
            (matChipInputTokenEnd)="add($event)"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selected($event)"
          >
            <mat-option *ngFor="let tag of allTags" [value]="tag">
              {{ tag }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="box__buttons">
        <button
          mat-stroked-button
          color="accent"
          (click)="openDialogFormQuestion()"
        >
          Dodaj pytanie
        </button>

        <button
          mat-stroked-button
          color="primary"
          (click)="openDialogRandomQuestion()"
        >
          Losuj pytanie
        </button>
      </div>
    </div>
    <table
      mat-table
      [dataSource]="dataSource"
      multiTemplateDataRows
      class="mat-elevation-z8 ml-auto mr-auto container"
    >
      <ng-container
        matColumnDef="{{ column.value }}"
        *ngFor="let column of columnsToDisplay"
      >
        <th mat-header-cell *matHeaderCellDef>{{ column.label }}</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="column.label !== 'Tagi'; else tag">
            {{ element[column.value] }}
          </ng-container>
          <ng-template #tag>
            <div class="box__tag">
              <mat-chip-listbox>
                <mat-chip
                  class="box__chip"
                  [ngStyle]="{
                    'background-color': element.tags | tagColor
                  }"
                  >{{ element.tags }}</mat-chip
                >
              </mat-chip-listbox>
            </div>
          </ng-template>
          <div *ngIf="column.value === 'actions'" class="box__actions">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              (click)="stopPropagation($event)"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>Edytuj</button>
              <button mat-menu-item (click)="deleteQuestion(element)">
                Usuń
              </button>
            </mat-menu>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="columnsValues.length"
        >
          <div
            class="overflow-hidden"
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
          >
            <div class="pt-3 pr-3 pl-3 pb-1">{{ element.answer }}</div>
            <div
              [ngStyle]="element.image ? null : { 'padding-bottom': '20px' }"
            >
              <ul *ngFor="let subPoint of element.subpoints">
                <li *ngIf="subPoint">{{ subPoint }}</li>
              </ul>
            </div>

            <img
              *ngIf="element.image"
              class="box__image p-5"
              src="{{ element.image }}"
            />
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsValues"></tr>
      <tr
        mat-row
        *matRowDef="let element; columns: columnsValues"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"
      ></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: ['expandedDetail']"
        class="example-detail-row"
      ></tr>
    </table>
  </div>
  <div class="flex-box"></div>
</div>
