@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; width: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
ul {
  list-style: inside;
  margin-left: 20px;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled)
.mdc-notched-outline
.mdc-notched-outline__trailing {
border-left-style: none;
}
.mdc-text-field--outlined:not(.mdc-text-field--disabled)
.mdc-notched-outline
.mdc-notched-outline__notch {
border-right-style: none;
}
